<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="utf-8" />
	<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
    <title>{% block title %}DecisionCandy{% endblock %}</title>
    
    
	<link href='http://fonts.googleapis.com/css?family=Philosopher:400,700|Lobster' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Arvo|Copse' rel='stylesheet' type='text/css'>
	<!--<link rel="stylesheet/less" type="text/css" href="/front-end/media/bootstrap/lib/bootstrap.less">-->
	<!--<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">-->
	<link rel="stylesheet" type="text/css" href="../../front-end/media/css/test.css"/>
	<script src="modernizr.min.js"></script>
	<script src="/front-end/media/static/less-1.1.3.min.js"></script>
	<script src="/front-end/media/uploadify3/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../front-end/media/css/DC-style.css"/>
	{% block headcode %}
    {% endblock %}

</head>

<body>
    {% block header %}
        <div class="alex-topbar">
            <div class="bigtext" id="title">
            	<a href="../../../">
                	<span style="color:#8FBCFF;">Decision</span><span style="color:#FFC04F;">Candy</span>
                	<span style="color:#CCC; font-size:22px;">Truly Yummy Feedback.</span>
					<div class="betatag" style="">alpha</div>
            	</a>
            </div>
            <div class="topbar-links bluetext">
                <ul id="list-nav">
            	{% if user.username %}
	        	    <li><a href="../../upload/">Upload a Project</a></li>
	        	    <li><a href="../../logout/">Logout</a></li>
	        	    <li><a href="http://about.decisioncandy.com">About</a></li>
	        	    <div id="welcome"> Welcome, {{ user.client.name }}</div>
                {% else %}
                    <li><a href="../../signup/">Sign Up</a></li>
                    <li><a href="../../signin/">Log in</a></li>
                    <li><a href="http://about.decisioncandy.com">About</a><li>
                {% endif %}
                </ul>
            </div>

        </div>
    {% endblock %}
    
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>

	<div class="footer">    
        {% block footer %}
        	<small>Copyright 2011 <a href="mailto:rattray@wharton.upenn.edu">Alex Rattray</a>, Greg Terrono, and Ceasar Bautista. </small>
        {% endblock %}
    </div>

</body>
</html>
