{% extends "base.html" %}

{% block title %}{{ block.super }} | Home {% endblock %}

{% block content %}
<div class="frontcenter">
	<div class="bigtext">Choose a project, then choose the best versions.</div>
	<!--<div class="bigtext">Truly Yummy Feedback.</div>
<br />
  DecisionCandy uses the power of boredom to make sure only the tastiest designs ever see the light of <span title="Or RGB, or Pantone, or whatever">CMYK</span>. 
  <br /><br />
  Go ahead and pick a project below to see what it's like.<br />-->
</div>
<script>
	var 
</script>
<div class="projchoose">

  {% for row in project_table %}
  <div class="row">
    {% for project in row %}
    <div class="span4">
      <a href="/rank/{{ project.name }}">
        <div class="rankbox choose">
          <div class="choicehead">{{ project.name }}</div>
          <img src="image_handler/{{ project.name }}/0/med" class="rankpic choose"/>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
  {% endfor %}

</div>

{% endblock content %}
	