{% extends "base.html" %}

{% block title %}{{ block.super }} | Rank {{ Project.name }} {% endblock %}

{% block headcode %}

<script type="text/javascript" src="../../front-end/media/static/ajax-thing.js"></script>
<script type="text/javascript">
  var progress = 1;
  var project = "{{ Project.name|escapejs }}";
  var pairs = new Array(limit);
  
  var limit = '{{ limit }}';
  function vote(w, l, win_position, lose_position){
	  $("a#left_link").unbind('click');
	  $("a#right_link").unbind('click');
	  $("img").fadeTo('slow',0);
	  var url = "/vote/";
	  var w_id="#"+win_position+"_comment";
	  var l_id="#"+lose_position+"_comment";
	  var wc = ($(w_id).hasClass("input-default") ? "" : $(w_id).attr('value'));
	  var lc = ($(l_id).hasClass("input-default") ? "" : $(l_id).attr('value'));
	  
	  $.post(url, {
		  winner: w, 
		  loser: l, 
		  winner_comment: wc,
		  loser_comment: lc
	  	},
		function(data, status, xhr){
			if (status == 'success'){
				reloadImages();
			}
			else { 
				alert("something went wrong");
			}
		}
		);
  }
 
  function reloadImages(){
    $('input').each(function(){this.value = $(this).attr('title')});
	$('input').removeClass('input-default');
	$('input').addClass('input-default');
	updateList();
  }
 
  function updateList(){
    if (progress <= limit) {
//		  var url = "../../../choices/" + project.replace(/ /gi,'%20');
//		  $("div#main").load(url);
		var left_url = pairs[progress - 1][0];
		var right_url = pairs[progress - 1][1];
		$("img#left_img").attr("src", "image_handler/" + project + "/" + left_url+"/med");
		$("img#right_img").attr("src", "image_handler/" + project + "/" + right_url+"/med");
		$("div#progress").html(progress + " / " + limit);
		$("a#left_link").click(function(){vote(left_url, right_url, 'left', 'right')});
		$("a#right_link").click(function(){vote(right_url, left_url, 'right', 'left')});
		window.setTimeout(function(){
		  $("img").fadeTo('slow', 1)
		}, 1400);
		progress += 1;
    }
    else {
      var url = "../../../thanks/"+ project.replace(/ /gi,'%20');
      $('div#content').load(url);
    }
  }

$(document).ready(function() {
  
 	{% for pair in img_list %}
	pairs[{{ forloop.counter0 }}] = new Array(2);
  		{% for img in pair %}
			pairs[{{ forloop.parentloop.counter0 }}][{{ forloop.counter0 }}]="{{ img }}";
		{% endfor %}
	{% endfor %}

    updateList();
	
	$('input[type="text"]').each(function(){
 
		this.value = $(this).attr('title');
		$(this).addClass('input-default');
	 
		$(this).focus(function(){
				if(this.value == $(this).attr('title')) {
					this.value = '';
					$(this).removeClass('input-default');
				}
			});
		 
			$(this).blur(function(){
				if(this.value == '') {
					this.value = $(this).attr('title');
					$(this).addClass('input-default');
				}
			});
	});
});
  </script>
  {% endblock %}

  {% block content %}
	<div class="jtainer">
	  <div class="bigtext frontcenter bluetext" id="whichone">Which one...</div>

	  <div class="bigtext orangetext" id="isbest" title="{{ Project.more_criteria }}">
		{{ Project.criteria }}?
		<div class="littlelink">
		  <span class="bluetext" title="{{ Project.more_criteria }}">
			hover for more criteria
		  </span>
			<div class="progressbar">
				<div id="progress">
				</div>
				<br/>
				{% if Project.reward > 0 %}$
				{{ Project.reward }}
				{% endif %}
			</div>
		</div>
	  </div>

	  <div id="main">
	  
		  <div class="ranking" id="mainranking">
				
				<div class="rankbox left">
					<a onclick="" id="left_link" class="handcursor">{% csrf_token %}
						<img id="left_img" src='' class="rankpic"/>
					</a>
					<input id="left_comment" class="rankcomment" type="text" name="Comment" title="feel free to comment on this design">
				</div>
				

			<a onclick="reloadImages()" id="cantdecide" class="handcursor">
				<div class="rankbuttons">
				  <div class="indecisive">Can't decide.</div>
				</div>
			</a>
				
				<div class="rankbox right" id="rb_r">
					<a onclick="" id="right_link" class="handcursor">{% csrf_token %}
					  <img id="right_img" src='' class="rankpic"/>
					</a>
					<input id="right_comment" class="rankcomment" type="text" name="Comment" title="feel free to comment on this design">
				</div>
				
				
		</div>
		<!--
		<ul class="media-grid">
			<li>
				<a onclick="" id="left_link" class="handcursor">{% csrf_token %}
					<img id="left_img" src='' class="thumbnail"/>
				</a>
			</li>
			<a onclick="updateList()" id="cantdecide" class="handcursor">
				<div class="rankbuttons">
				  <div class="indecisive">Can't decide.</div>
				</div>
			</a>
			<li>
				<a onclick="" id="right_link" class="handcursor">{% csrf_token %}
					<img id="right_img" src='' class="thumbnail"/>
				</a>
			</li>
		</ul>
		-->
		<div id="fake">
		
		</div>
	  </div>
	</div>

  <!--everything below the ranking goes here -->
  <div class="belowranking">   
    <div class="projectinfo">
      <div class="bigtext">Information about {{ Project.name }}</div>
      <div id="projdescription"> {{ Project.description }} </div>
    </div>
  </div>

  
</div>

{% endblock content %}
