{% extends "base.html" %}

{% block title %}{{ block.super }} | Login {% endblock %}


{% block content %}
<div class="jtainer">
	<div class="frontcenter bigtext">Sign In</div><br />
	<form action="/signin/" method="post">{% csrf_token %}
	<fieldset>
        {% for field in form %}
			<div class="clearfix">
				{{ field.label_tag }}
				<div class="input">
					{{ field }}
				</div>
			</div>
		{% endfor %}
		<div class="clearfix">
			<div class="input">
				<input type="submit" value="Log In" class="btn large primary"/>
			</div>
		</div>
    </fieldset>
</form><div>
{% endblock content %}

